{% extends 'base.html' %}

{% block content %}
<div class="container p-5 text-center">

  <h1 class="pt-5">Who We Are</h1>
  <p class="intro">
  Monch is a tool designed to help you find the most affordable option for your grocery list,
  <br /> saving money whilst eating enjoyable meals. Monch will soon involve connecting with friends, 
  <br />
  sharing meals and spreading awareness about affordable options.
  </p>
  <br />
  <h3>We Actually Are</h3> 
  <p class="our-info">
  Abed Miah
  <br />
  Information Technology Graduate at New Jersey Institute of Technology
  <br />
  <br />
  Hamzah Muhammad
  <br />
  Computer Science at Montclair State University
  <br />
  <br />
  Sarah Al-Zahiri
  <br />
  Computer Science at Montclair State University
  <br />
  <br />
  Yeraldine Ochoa
  <br />
  Computer Science at Western Governors University
  </p>

</div>


{% endblock %}