{% extends 'base.html' %}

{% block content %}
<br><br>

<div class="text-container text-center">
    <img src="{{ url_for('static', filename='img/monch4.png') }}" alt="Clickable Image" class="center" id="clickableImage" style="cursor: pointer;">
    <audio id="myAudio" src="{{ url_for('static', filename='asset/MonchSound.mp3') }}"></audio>
<script>
        var image = document.getElementById('clickableImage');
        var audio = document.getElementById('myAudio');

        image.addEventListener('click', function() {
            audio.play();
        });
    </script>
  <br><br>
  <h1>Welcome {{session.userinfo.name}}!</h1>
  <h4>&#128293; Welcome to the MONCH club. Let's get cooking! &#128293;</h4>

</div>

{% endblock %}