<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monch Club</title>
</head>
<body>
    {% if session %}
        <p><a href="/search">Search</a></p>
        <p><a href="/logout">Logout</a></p>
    {% else %}
        <h1>Welcome Guest</h1>
        <p><a href="/login">Login</a></p>
    {% endif %}

    {% if data %}
        <h1>{{ data.name }}</h1>
        <h2>{{ data.area }} {{ data.category }}</h2>
        <img src="{{ data.thumb }}" alt="food image"/>
        <br>
        <h2>Store with the best bang for your buck: {{ data.most_common_store }}</h2>
        <h2>Best Place to Buy Each Ingredient:</h2>
        <ul>
            {% for ingredient, store in data.cheapest.items() %}
                <li>{{ ingredient }} - {{ store }}</li>
            {% endfor %}
        </ul>
        <h2>Vendor Cost Overview:</h2>
        <table>
            <tr>
                <th>Store</th>
                <th>Ingredient</th>
                <th>Price</th>
            </tr>
            {% for store, ingredient, price in data.ingredient_prices %}
                <tr>
                    <td>{{ store }}</td>
                    <td>{{ ingredient }}</td>
                    <td>${{ price }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>
