{% extends 'base.html' %}

{% block content %}

    <br><br>
    <div class="container p-1">

    {% if data %}
        <h1>{{ data.name }}</h1>
        <h2 class="p-2">{{ data.area }} {{ data.category }}</h2>
        <hr>
        <div class="row">
            <div class="col-4">
                <img class= "pt-2 img-fluid" src="{{ data.thumb }}" alt="food image"/>
                <br>
                <div class="pt-3">
                    <button id="like-button" class="btn btn-secondary" type="button">Like &lt;3</button>
                </div>
                <div class="pt-3">
                    <h2>Ingredients:</h2>
                    <ul>
                        {% for item in data.ingredients %}
                            <li>{{ item.measurement }} {{ item.ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="pt-3">
                    <a class="btn btn-success" href="/basket/{{data.id}}">Find in Store</a>              
                </div>
            </div>
            <div class="col">
                <h2>Instructions:</h2>
                <p>{{ data.instructions }}</p>
                <div class="pt-3">
                    <h2>Video Tutorial:</h2>
                    <iframe width="560" height="315" src="{{ data.youtube }}" frameborder="0" allowfullscreen></iframe>  
                </div>
            </div>
        </div>
        <hr>
        <br>

        <div class="pt-5">
            <h2>Discussion Board</h2>
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <div class="form-group">
                    <label for="comment">Add Your Comment:</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                </div>
                <button class="btn btn-primary">Submit</button>
            <br>
            <div class="comments pt-3">
                <h3>Comments:</h3>
                {% for comment in comments %}
                    <div class="card">
                        <div class="card-body">
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
                <br><br><hr><br>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}