{% extends 'base.html' %}

{% block content %}
    
    <!-- Sidebar -->
    <div class="row h-100">
        <div class="col-md-3 sidebar grey-bg p-0">
          <ul class="list-group">
            <li class="list-group-item">
                <a class="side-link" href="#">Categorie</a>
            </li>
            <li class="list-group-item">
                <a class="side-link" href="#">Placeholer2</a>
            </li>
            <li class="list-group-item">
                <a class="side-link" href="#">Non-Fiction</a>
            </li>
            <li class="list-group-item">
                <a class="side-link" href="#">Science Fiction</a>
            </li>
            <li class="list-group-item">
                <a class="side-link" href="#">Mystery</a>
            </li>
          </ul>
        </div>
        
        <!-- Main Content -->
        <div class="col-md-9">
            <br />
            <h2>All Desserts</h2>
            <hr>
            <div class="container">
                <div class="row w-100 p-1">
                    <div class="card w-100">
                        <div class="card-body">
                          <h5 class="card-title">Recipe 1</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                          <a href="#" class="btn btn-primary">Ingredients</a>
                        </div>
                    </div>
                </div>

                <div class="row w-100 p-1">
                    <div class="card w-100">
                        <div class="card-body">
                          <h5 class="card-title">Recipe 2</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                          <a href="#" class="btn btn-primary">Ingredients</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}