{% extends 'base.html' %}

{% block content %}
    <body onload="getAllRecipes('{{ categories[0]}}');"></body>

    <!-- Sidebar -->
    <div class="row h-100">
        <div class="col-md-3 sidebar grey-bg p-0">
          <ul class="list-group">
            {% if categories %}
                {% for category in categories %}
                <li class="list-group-item">
                    <a class="side-link" onclick="getAllRecipes('{{ category }}')">{{ category }}</a>
                </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">
                    <a class="side-link">Error. No Categories</a>
                </li>
            {% endif %}
          </ul>
        </div>
        
        <!-- Main Content -->
        <div class="col-md-9">
            <br />
            <h2 id="mealstitle">All {{ categories[0] }} Meals</h2>
            <hr>
            <div class="container">
                <div id="startRecipesObject"></div>

            </div>
        </div>
    </div>

{% endblock %}