<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monch Club</title>
</head>
<body>
    {% if session %}
        <p><a href="/search">Search</a></p>
        <p><a href="/logout">Logout</a></p>
        <form action="/search" method="POST">
            <input type="text" name="query" placeholder="Enter your search query">
            <input type="submit" value="Search">
        </form>
    {% else %}
        <h1>Welcome Guest</h1>
        <p><a href="/login">Login</a></p>
    {% endif %}
    
    {% if data %}
        <h2>Search Results:</h2>
        <div>
            {% for meal in data.meals %}
                <div>
                    <h3><a href="/recipe/{{ meal.idMeal}}">{{ meal.strMeal }}</a></h3>
                    <img src="{{ meal.strMealThumb }}" alt="{{ meal.strMeal }}">
                    <p>{{ meal.strArea }} {{ meal.strCategory }} </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>
